* {
  box-sizing: border-box;
  background-color: black;
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  color: white;
  background-color: black;
  padding-right: 20px;
}

a {
  border-radius: 10px;
  background-color: black;
  transition: background-color 1s;
}

a:hover {
  background-color: royalblue;
}

.links a {
  font-size: xx-large;
  text-decoration: none;
  padding-left: 7px;
  color: lightblue;
}

/* media quiry */

@media (min-width: 768px) {
  .home-page {
    flex-direction: row;
  }
  img {
    width: 50%;
    height: auto;
  }
}

.hg-sidebar {
  flex: 0 0 260px;
}

/* Styling for index.html */

.name {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: ms gothic, Geneva, Tahoma, sans-serif;
}

.home {
  padding-top: 150px;
  font-size: 45px;
  color: white;
  font-family: Book Antiqua, serif;
}

.home-content {
  font-family: Book Antiqua, serif;
  display: flex;
  font-size: 35px;
  padding: 25px;
  color: white;
  justify-content: flex-start;
}

.content {
  display: flex;
  min-height: 100vh;
  flex: 1 1 auto;
  flex-direction: column;
}
.home-page {
  display: flex;
  flex-direction: row;
}

.home-content {
  min-width: 50vw;
  min-height: 50vh;
  display: flex;
  justify-content: flex-start;
}

.fam-image {
  display: flex;
  justify-content: center;
}

img {
  padding: 10px;
  size-adjust: auto;
  height: auto;
  width: 500px;
}

.project-footer {
  color: white;
  font-size: x-large;
  text-align: center;
}

/* Styling for about */

.about {
  font-size: 45px;
  padding-top: 20px;
  padding-left: 20px;
}

.myabout {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.about-body {
  justify-content: center;
  color: white;
  max-width: 50%;
}
.big-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.building-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.build-body {
  padding: 15px;
  max-width: 35%;
  font-size: x-large;
}

.biking-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.biking-body {
  padding: 15px;
  max-width: 35%;
  font-size: x-large;
}

.hunting-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.hunting-body {
  padding: 15px;
  max-width: 35%;
  font-size: x-large;
}

/* Stling for Portfolio page */

.holy-grail {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.holy-grail-sidebar-1 {
  order: -1;
  display: flex;
}
.holy-grail-body {
  display: flex;
  color: white;
}

.holy-grail-content {
  font-size: xx-large;
}

.hg-sidebar {
  background-color: black;
  font-size: x-large;
  padding: 25px;
}

/* Styling for Contact page */
.Contact {
  font-size: xx-large;
}

.form {
  font-size: larger;
  color: white;
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
}

.comment {
  color: black;
  background-color: grey;
  font-size: large;
}

input {
  color: white;
  justify-content: center;
}
.submit {
  padding: 25px;
}

.submits {
  background-color: red;
  font-size: x-large;
}

/* Styling for submission page */

.form {
  justify-content: center;
  align-items: center;
}

h2 {
  text-decoration: underline;
}
